extends layout

block content
    h1(id="regTitle") EDIT YOUR PROFILE
    div(id='register', class='user-form')
        span
            form(id='form', method='post', action='/edit/' + theuser.id)
                input(type='text', name='username' value=theuser.username placeholder="Username" required)
                input(type='text', name='email' value=theuser.email placeholder="Email" required)
                input(type='text', name='age' value=theuser.age placeholder="Age" required)
                input(type='password', name='password' placeholder="Enter New Password")
                .question-group
                    h3(class="q") #1 Which degree are you most interested in?
                    select(name='degree')
                        option(selected = theuser.answers[0]) #{theuser.answers[0]}
                        option(value='BSCS') BSCS
                        option(value='BSGD') BSGD
                        option(value='BSWD') BSWD
                        option(value='BSIS') BSIS
                        option(value='BSTM') BSTM
                .question-group
                    h3(class="q") #2 Which region of the U.S. are you from?
                    select(name='region')
                        option(selected = theuser.answers[1]) #{theuser.answers[1]}
                        option(value='Eastern U.S.') Eastern U.S.
                        option(value='Western U.S.') Western U.S.
                        option(value='Northern U.S.') Northern U.S.
                        option(value='Southern U.S.') Southern U.S.
                        option(value='Outside U.S.') Outside U.S.
                .question-group
                    h3(class="q") #3 What is your expected graduation year?
                    select(name='gradYear')
                        option(selected = theuser.answers[2]) #{theuser.answers[2]}
                        option(value='2017') 2017
                        option(value='2018') 2018
                        option(value='2019') 2019
                        option(value='2020 or greater') 2020 or greater
                        option(value='Already graduated') Already graduated
                input(type='submit', value='Save Information', class='form-button', id='register-button')