extends layout

block content
    h1 USER MANAGER
    div(class='tableBody')
        table(class='gridtable')
            tr
                th Type
                th User ID
                th Username
                th Email
                th Age
                th Degree
                th Region
                th Grad Year
                th
            each u in userList
                tr
                    td #{u.type}
                    td #{u._id}
                    td #{u.username}
                    td #{u.email}
                    td #{u.age}
                    td #{u.answers[0]}
                    td #{u.answers[1]}
                    td #{u.answers[2]}
                    td
                        -if(u.username != user.username){
                        a(href='/delete/' + u._id) Delete
                        -}